body {
    background-image: linear-gradient(to right, #0099f7, #f11712);
}

.main-content {
    display: flex;

}

button {
    font-size: 22px;
    font-weight: bold;
}

.sub-content {
    position: absolute;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temp-display {
    font-size: 52px;
    margin-top: ;
}

#temp-number {
    font-size: 64px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

#thermo-pic {
    position: absolute;
    max-width: 20%;
}

.temp-buttons {
    display: flex;
    gap: 100px;
}

#hot-button,
#cold-button {
    min-height: 100px;
    min-width: 100px;
}

#cold-button:hover {
    background-color: blue;
}

#hot-button:hover {
    background-color: red;
}

#hot-button {
    background-color: rgb(255, 70, 70);

}

#cold-button {
    background-color: rgb(100, 100, 255);

}


.content {
    display: flex;
    width: 100%;
    height: 100%;

}

.meter {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 300px;
    height: 100px;
    margin-top: 150px;
    margin-left: 150px;
}

.dot {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    top: 335px;
    left: 256px;
    position: absolute;
}

.twenty-five {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    top: 230px;
    left: 340px;
    position: absolute;
}

.fifty {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    top: 170px;
    left: 340px;
    position: absolute;
}

.seventy-five {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    top: 105px;
    left: 340px;
    position: absolute;
}

#reset-button {
    margin-top: 50px;
    height: 75px;
    width: 150px;
}

#reset-button:hover {
    background-color: white;
}

#evaluate-answer {
    font-size: 48px;
    font-weight: bold;
    border-radius: 20px;
    padding: 30px;
}
